:root {
  --primary-color: #262527;
  --secondary-color: antiquewhite;
  --grey-color: #1b1a1a;
  --base-gap: 1rem;
}
@media screen and (max-width: 1023px) {
  :root {
    --base-gap: 1rem;
  }
}
*,
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--grey-color);
}
body {
  background-color: var(--primary-color);
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}

pre {
  color: white;
}

body,
html {
  margin: 0px;
  height: 100%;
}
