.header-banner {
  display: grid;
  gap: var(--base-gap);
  grid-template-columns: 20% auto;
  grid-template-rows: 100%;
  grid-template-areas: "left right";
}
.card {
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  padding-bottom: 8rem;
}
.left-header {
  grid-area: left;
}
.left-header > span {
  font-size: 1rem;
}
@media screen and (max-width: 1023px) {
  .social-media {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}

.right-navigation {
  grid-area: right;
}
.nav-links {
  gap: 10px;
}
.link {
  font-weight: bold;
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .container {
    width: auto;
    justify-content: end;
  }
}
.card-content-outer {
  position: absolute;
  width: 80%;
  top: -100px;
  border: 1.5rem solid;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
@media screen and (max-width: 1023px) {
  .card-content-outer {
    top: -500px;
    width: 60%;
    right: var(--base-gap);
  }
}
.card-content {
  background-color: var(--grey-color);
  border-radius: 1rem;
  color: var(--secondary-color);
}

.wrapper-outer {
  padding: 3rem;
  position: relative;
  box-sizing: border-box;
  height: 1vh;
  background-color: red;
}

.wrapper {
  /* position: absolute; */
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
